*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: var(--text-font);
    background-color: var(--bg);
    color: var(--text-white);
}


h1, h2, h3 {
    font-family: var(--text-font);
}
