.card {
    margin-bottom: 1.5rem;
    padding: 1.5rem 0;
    background-color: var(--card);
    border-radius: .4rem;
    text-align: center;
    transition: var(--transition);

    @include desktop {
        margin-bottom: 0;
        cursor: pointer;

        &:hover {
            background-color: var(--card-hover);
        }
    }



    &__social {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 125px;
        margin: 0 auto;
    }
    

// Cada Una de las Tarjetas ---------------
    &:nth-of-type(1) {
        border-top: .3rem solid var(--facebook);
    }
    &:nth-of-type(2) {
        border-top: .3rem solid var(--twitter);
    }
    &:nth-of-type(3) {
        padding-top: 1.8rem;
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            background-image: var(--instagram);
            top: 0;
            left: 0;
            height: .3rem;
            width: 100%;
        }
    }
    &:nth-of-type(4) {
        border-top: .3rem solid var(--youtube);
    }
// ----------------------------------


    &__name {
        margin: 0;
        font-weight: 700;
        color: var(--text-blue);
        font-size: .8rem;
        transition: var(--transition);
    }

    &__counter {
        margin: 1rem 0 0 0;
        font-size: 3.5rem;
        font-weight: 700;
        transition: var(--transition);
    }

    &__text {
        margin: 0;
        text-transform: uppercase;
        color: var(--text-blue);
        letter-spacing: .3rem;
        transition: var(--transition);
    }


    &__stats {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 110px;
        margin: 1.5rem auto 0 auto;
        font-weight: 700;
    }

    &__day {
        margin: 0;

        &--up {
            color: var(--green-color);
        }
        &--down {
            color: var(--red-color);
        }
    }

}
